header{
    background-color: rgb(77, 45, 218);
    height: 100px;
}
nav{
    background-color: #15c7a4;
    display: inline-flex;
    height: 450px;
    width: 200px;
}
nav li{
    display: flex;
}

nav li a{
    color:rgb(245, 215, 174);
    text-decoration: none;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}
nav li a:hover{
    background-color: rgb(36, 29, 33);
}


main{
    display: inline-flex;
    position: absolute;
    padding: 20px; /* Adicionar um pouco de espaço para evitar que o conteúdo toque o footer */

    }

footer{
    background-color: rgb(208, 192, 17);
    height: 100px;
}